[build]
builder = "dockerfile"
dockerfilePath = "server/Dockerfile"
watchPatterns = ["server/**"]

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
